<section id="main">
  <a href="./#!/tasks"><- Back to tasks list</a>
  <form novalidate>
    <div class="form-group">
      <label for="nameInput">Task Name</label>
      <input type="text" class="form-control" id="nameInput" ng-model="task.name" />
    </div>

    <div class="form-group">
      <label for="catInput">Task Category</label>
      <input type="text" class="form-control" id="catInput" ng-model="task.category" />
    </div>

    <div class="form-group">
      <label for="assignInput">Assign To</label>
      <input type="text" class="form-control" id="assignInput" ng-model="task.assignee" />
    </div>

    <div class="form-group">
      <label for="descriptionInput">Task Description</label>
      <input type="text" class="form-control" id="descriptionInput" ng-model="task.description" />
    </div>

    <div class="form-group">
      <label for="dueInput">Due Date</label>
      <input type="text" class="form-control" id="dueInput" ng-model="task.dueDate" />
    </div>
    <button type="submit" class="btn btn-primary" ng-click="update(task)">Submit</button>
    <button type="submit" class="btn btn-primary" ng-click="reset()">Reset</button>
  </form>
</section>
